<div class="data prevent-footer-cover" layout-xs="column" layout-sm="column" layout-md="column" layout-gt-md="row">
    <div class="img-top-panel" layout="row" flex-xs="100" flex-sm="100" flex-md="100" flex-gt-md="25" layout-align="center start">
        <img ng-src="images/{{leftPanelImage}}" class="img-responsive img-stretch" hide-gt-md>
    </div>
    <div flex-xs="100" flex-sm="100" flex-md="100" flex-gt-md="55" class="page-text" layout-margin>

        <div ng-controller="AccordionController">
            <h4>
                <strong>"Marketing a business is simple yet essential!"</strong> 
            </h4> 
            <p>
                Nine out of ten times the problem is not bad marketing but the complete lack of it. Few of them don&rsquo;t plan for it or is neglected and/ or forgotten. Hence no planning, no marketing. But those who realise and finally wanting to streamline their Marketing process must consider six essentials:
                <br /> <br/>
            </p>    
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(0)" >
                            Logo and Stationary
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[0], 'glyphicon-chevron-right': !open[0]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        <strong>"You never get a second chance to make a first Impression!"</strong>
                    </p>
                    <p>    
                        Your logo and stationery are your company’s first impression. They set the tone for expectations and establish a customer’s initial perception. Even if you believe your company won’t need business cards or stationery - have them at the ready - and insure they look good. Exchanging business cards is still a standard practice and you’ll eventually need to send a letter. And as the saying goes, you only get one first impression.
                    </p>
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(1)" >
                            Website
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[1], 'glyphicon-chevron-right': !open[1]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        <strong>“If opportunity doesn’t knock, build a door!”</strong>
                    </p>
                    <p>
                        A company website is most essential today. Since it can be accessed 24/7/365 from around the world - it’s your pre-sale spin, maybe your method of sale (e-commerce), and after-sale support. It’s a full online support for your marketing references. Don’t forgo a website due to cost or the ill-conceived notion your business won’t benefit. There are lots of inexpensive solutions available, from templates, to build-it-yourself online solutions. Every business can benefit, even with the simplest of websites - if only to provide your products info along with your phone number and address online.
                    </p>
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(2)" >
                            Brochure/ Product Catalogue
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[2], 'glyphicon-chevron-right': !open[2]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        <strong>“Design is the silent ambassador of your brand!”</strong>
                    </p>
                    
                    <p>
                        A brochure or product catalogue are still relied on by many - even if it’s a PDF downloaded from your website. A brochure or product catalogue reinforces your sales message before or after you’ve left them with customers. And more importantly, they can be shared, and continue to spread the word about you without your interaction.
                    </p>
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(3)" >
                            Customer Profile (Your Target Audience)
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[3], 'glyphicon-chevron-right': !open[3]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                        <p>
                            <strong>“All of your customers are partners in your mission!”</strong>
                        </p>
                        <p>
                            Figuring out who your customer is, where they are, and how best to reach them is critical though most essential. This keeps you focused and helps you avoid bad decisions and wrong communication. For instance, if your flower shop is approached to sponsor a punk rock festival, you’ll most likely realise the attendees won’t fit your profile and so you’ll pass. Instead, you’ll concentrate on communicating with your targeted customers in the most effective manner via direct mail, or a billboards outside the mall. 
                        </p>
                        <p>
                            Once you build your customer profile which we call PERSONA of the customer, you can start to figure out how and when to contact them. In marketing jargon it’s called targeting your demographic. Every customer is segmented as per its profile and kept in touch essentially through vast range of marketing media.
                        </p>
                </div>
                <div uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(4)" >
                            Business Plan  (Written on a Calendar)
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[4], 'glyphicon-chevron-right': !open[4]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                        <p>
                            <strong>“Clarify your vision… plan with precision!”</strong>
                        </p>    
                        
                        <p>
                            Small business owners are busy. Time is short. Attention is focused on the immediate needs. Then the economy slows, sales soften, and suddenly marketing is catapulted into the limelight - or more accurately, the lack of it. It was always the next thing on your list - until it’s the only thing left on your list till it’s too late. Business Planning forces you to do it and gnaws at you when you don’t.
                        </p>
                        
                        <p>
                            When a client engages us to help with or handle their marketing - the first two things we do, build a “PERSONA” of their customer (customer profile) and figure out how and when we can reach them. Second, we pull out a calendar and create a 12 month plan. By determining how and when we can best reach them, by scheduling activities and creating a simple marketing plan to reach them. 
                        </p>
                        <p>    
                            Well, we also write down any special relevant holidays that influence your business. For instance, if we’re working with a florist, we’ll circle February 14 and a few other key dates. But for a toy manufacturer we’ll focus on November and December. By looking at the whole year during our planning time - we can identify key periods and create a plan of activities. So we’ll be proactive, not reactive.
                        </p>
                        <p>
                            Then we’ll look at our customer persona and our notes on how best to connect with them. For the florist, maybe it’s a series of email blasts two weeks before Valentine’s Day, and a postcard sent a few week before too, synchronized with an update to our website with special Valentine’s Day offers. Maybe our flower shop is in a mall, so perhaps we’ll lease in-mall signage too. Again, it all depends on how we’ve determined we can best reach our customer.

                        </p>
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(5)" >
                            Now it's time to Budget
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[5], 'glyphicon-chevron-right': !open[5]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        <strong>
                            “Budget tells us what we can’t afford, but it doesn’t keep us from buying it!”
                        </strong>
                    </p>
                    <p>    
                        Once our crucial and essential marketing plan is in place. We know “how we want” to reach our customer and when, (plus we’ve backed-out design and production time to allow for creative and printing) now we have to figure out how much we can spend.  
                    </p>
                    <p>
                        Usually we’re doing this in conjunction with the plan since it’s silly to write on our calendar we’re going to create a Super Bowl commercial for our little flower shop - we won’t have the budget. But when we’re thinking of how to best reach our customers - we often skip worrying about the budget - so we’re not constrained in our ideas. We can always remove or add things now, at budgeting. And who knows, maybe a crazy idea will seem brilliant and you can shift money around to pay for it. And remember, periodically, we’ll be reviewing our plan to adjust what we’re doing - we’re not carving things into stone. But we are committing ourselves to accomplish specific things on specific dates.
                    </p>
                </div>
            </uib-accordion>
        </div>

        <div>
            <h4>
                <strong>Consistent execution  is now a way of life!</strong>
            </h4>
            <p>
                Basic marketing is simple, but it takes a plan to hold it together, a plan which is implemented in given time frame. To keep your marketing going no matter how good or how bad business is for you - and if you market continually, it generally won&rsquo;t be bad any way.
            </p>
        </div>
        
        <div>

            <h4>
                <strong>The problem usually isn&rsquo;t bad marketing, it&rsquo;s no marketing…</strong>
            </h4>
            <p>
                As we said at the start, nine out of ten times, when we&rsquo;re engaged  a new client - the problem isn&rsquo;t their marketing is wrong - it&rsquo;s usually it just doesn&rsquo;t exist or it&rsquo;s just plain and ugly. 
            </p>
            <p> 
                But if you create the basics, build your customer profile, write down a plan, and create a budget - marketing starts to handle itself. You have a system and by following that system you keep ahead of the market…and probably ahead of your competition too. Thomas Edison said, &ldquo;Genius is 1% inspiration and 99% perspiration&rdquo;.  Well marketing is the same. If you have the inspiration the rest comes down to executing. And executing is made simple when you have a plan to execute
            </p>

            <p> 
                So now grab a calendar off the wall or open one on your computer and start to pick the holidays or events that are relevant to your business. Then add the marketing materials you want to have ready for those dates and get to work. Don&rsquo;t wait until it&rsquo;s too late. 
            </p>
        </div>

    </div>
</div>