<div class="data prevent-footer-cover" layout-xs="column" layout-sm="column" layout-md="column" layout-gt-md="row">
    <div class="img-top-panel" layout="row" flex-xs="100" flex-sm="100" flex-gt-sm="25" layout-align="center start">
        <img src="images/{{leftPanelImage}}" class="img-responsive img-stretch" hide-gt-md>
    </div>
    <div flex-xs="100" flex-sm="100" flex-md="100" flex-gt-md="55" layout-margin>
        
        <div>
            <h4><strong>"Creativity can solve almost any problem!"</strong></h4>
            <p>
                We’re problem solvers…
                We always start by listening intensely. We want to understand your troubles and the challenges your business is facing. Only after we’ve learned about your business, your industry, and your competitors, we start working together to develop and implement essential solutions like Marketing, branding, website, packaging, advertising, displays and social media.
            </p>
        </div>
        <div ng-controller="AccordionController">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(0)" >
                            Marketing
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[0], 'glyphicon-chevron-right': !open[0]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        It’s the magic we exert to motivate people to buy the things our friends are selling. By mixing together our experience, some science, and a few sprinkles of magic, we create the right solution for each product or service to get sold. We’re practical - we determine who your customer is, what motivates them, and how to reach them. From the smallest to the largest projects, we’re asking ourselves: Why are we doing this? and How will this help sell? 
                    </p>
                    <p>
                        We’d like to help you sell and share our magic with you - call today 00000000000 or <a ui-sref="contact"><strong>contact us.</strong></a>
                    </p>
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(1)" >
                            Branding
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[1], 'glyphicon-chevron-right': !open[1]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        Is a blanket term that covers a lot of topics, but if we had to sum it up - branding is the promise between company and consumer. It can be visual; you recognize a brand by a glimpse of a logo or color scheme, so you read more. Or it can be visceral; a jingle that sticks with you, or packaging that forces you to reach over other products for your brand. 
                    </p>
                    <p>
                        Good branding is like the teddy bear you had as a child. It starts out as a recognizable item, and with every interaction, it imparts comfort; eventually becoming essential. It’s the reason you would dig through the hamper to find your teddy bear. In business, it may start with a logo, but branding is so much more.
                    </p> 
                    <p>
                        If you’d like us to help take care of your branding - call today 0000000000 or <a ui-sref="contact"><strong>contact us.</strong></a>
                    </p>
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(2)" >
                            Web Design
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[2], 'glyphicon-chevron-right': !open[2]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        Your website is a digital billboard - you have a few seconds to pique the interest of visitors, connect with them, and entice them to click deeper or to act. It requires a mix of good visuals and calls to action, and lots of fiddling.
                    </p>
                    <p>
                        The websites we create are customized to your business, and come standard with the tools you need to keep them buzzing. Regardless of the engine that powers your site, our focus is on making it work for you. But most importantly, we know a website isn’t like a “field of dreams,” so from the start we work together to attract customers too.
                    </p>
                    <p>
                        So if you’re looking for a web partner to rebuild or fiddle with your site so it works better - call today 0000000000 or <a ui-sref="contact"><strong>contact us.</strong></a>
                    </p>
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(3)" >
                            Package Design
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[3], 'glyphicon-chevron-right': !open[3]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        Packaging design can make or break a product or brand. People are busy and if your item doesn’t jump off the shelf, it’ll be pulled off and dumped in the trash. In fact, retailers won’t even stock your item if they don’t believe it will sell. So your packaging has to look good. It needs to stand out from the crowd, or you won’t even make it to the shelf. 
                    </p>
                    <p>
                        First impressions matter. It’s a harsh truth for some of the new people we work with - it’s not the better mousetrap that wins - it’s the one in better packaging that’s selling.
                    </p>
                    <p>
                        Fortunately, we know how to package mousetraps and other stuff too, so it flies off the shelf or website; interested? - call today 0000000000 or <a ui-sref="contact"><strong>contact us.</strong></a>
                    </p>   
                </div>
                <div uib-accordion-group class="panel-default">
                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(4)" >
                            Advertising
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[4], 'glyphicon-chevron-right': !open[4]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        Advertising can be clever. Ads can be visually stunning with witty copy. We do that. But what we focus on is creating ads that sell the crap out of stuff. And as much as it might offend our aesthetic sensibilities, sometimes a giant burst is necessary. 
                    </p>
                    <p>
                        Yes, we’ll keep true to your brand and we’ll research customer motivations and desires, and we routinely create amazingly beautiful ads…but in the end it is advertising…and we know, if it’s not selling it is failing.
                    </p>
                    <p>
                        So if you need ads that not only look great but, more importantly, sell stuff, and you’re occasionally compelled to request giant snipes or bursts - we might wince, but we can deal - call today 0000000 or <a ui-sref="contact"><strong>contact us.</strong></a>
                    </p>
                        
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(5)" >
                            Display Graphics
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[5], 'glyphicon-chevron-right': !open[5]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        Tradeshow and display graphics are one of our true loves. Who wouldn’t love to create stunning visuals that both command attention and compel action. We do it for the folks we work with all the time, and to us it’s like playtime.
                    </p>
                    <p>
                        Don’t get us wrong, we take our jobs seriously, but when we get to design huge booths of ten-foot-tall graphics that incorporate lights, lasers, and flat panel screens…come on…it’s super fun - but with purpose.
                    </p>
                    <p>
                        If you need a tradeshow or signage, and you’re alright with us getting all graphic with you, call today 0000000000 or <a ui-sref="contact"><strong>contact us.</strong></a>
                    </p>
                </div>
                <div uib-accordion-group class="panel-default">

                    <uib-accordion-heading>
                        <div class="essential-panel" ng-click="toggle(6)" >
                            Social Media
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[6], 'glyphicon-chevron-right': !open[6]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        Social Media is the new technology-driven word-of-mouth - but it is millions, if not billions, strong. Key influences can have friend and follower networks that number tens of thousands - which is way more than the group around the water cooler. Today it’s important to reach out to and engage with these influencers, and your own customers too.
                    </p>
                    <p>
                        We can help to extend your conversation to key people, your consumers, and to their friends and their friend’s friends and so on. Through passive push or active engagement we keep people talking - and, of course, sometimes we simply listen too. 
                    </p>
                    <p>
                        So if you’re looking to make friends and influence people, call today 0000000000 or <a ui-sref="contact"><strong>contact us.</strong></a>
                    </p>
                </div>
            </uib-accordion>
        </div>
    </div>
</div>