<div class="data" layout-xs="column" layout-sm="column" layout-gt-sm="row">
    <div layout="row" flex-xs="100" flex-sm="100" flex-gt-sm="25" layout-align="center start">
        <img src="images/workprocess_com.gif" class="img-responsive">
    </div>
        
    <div flex-xs="100" flex-sm="100" flex-gt-sm="55" layout-margin>
        <div ng-controller="AccordionController">
            <p>
                <strong>
                    “Do not save what is left after spending, but spend what is left after saving!”
                </strong>
            </p>
            <p>
                What are the simple cost cutting techniques that you can implement today which help you to cut expenses & save money? Please think over before you decide to go for any fund raising. Various Fund raising options available but requires disciplined accounting of your business. Unless you follow and put across few cost cutting essentials in place, the cash flow will not improve and make you eligible for going any fund raising.
            </p>
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    <div class="commercial-panel" ng-click="toggle(0)" >
                        First Thing First
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[0], 'glyphicon-chevron-right': !open[0]}">
                        </i>
                    </div>
                </uib-accordion-heading>
                <p>
                    <strong>Review all expenses, even the little ones</strong>
                </p>
                <p>    
                    You can’t manage something which you don’t track. If you are not keeping record of all your expenses, you should start doing it right now. A good accounting software can help you categorise expenses and help you take measures to reduce them. Long back purchased of a magazine subscription which no one is reading or even every Friday Pizza can take a bigger pie of your expenses if not noticed or accounted.
                </p>
                <p>
                    <strong>Cut traditional advertising in favour of low-cost alternatives</strong>
                </p>
                <p>
                    Traditional advertising methods like buying print or TV Ads and putting up hoardings can get very expensive these days. Explore new tools like Google AdWords & Facebook Ads to advertise your product to the targeted audience. You can target users from a specific city, age-group and demographics and get good returns on your marketing investment.
                </p>
                <p><strong>Be a good neighbour</strong></p>
                <p> 
                    Split advertising and promotion costs with neighbouring businesses. Jointly buy the hoarding space or take your marketing alliance further by sharing mailing lists, distribution channels and suppliers with businesses that sell complementary goods or services.
                </p>

                <p>
                    <strong>Create partnerships for marketing</strong>
                </p>
                <p>
                    You might have seen the TV advertisements where DTH box comes bundled with a TV. Explore opportunities to partner with non-competing companies to promote your product and save on marketing expenses. Its important to make sure that the partnership is mutually beneficial for both the parties otherwise it will not yield the desired results.
                </p>

                <p>
                    <strong>Think beyond the cash, BARTER</strong>
                </p>
                <p>
                    When that cash supply gets low, which is a common thing in case of small businesses, don’t close the door on getting what you need. Consider the ages-old practice of bartering. An accountant using bartering successfully by offering her own CA services in exchange for work by an interior design firm when she needed an office redesign. As with any negotiation process, the worst answer you can get is a simple NO, and you might be surprised by how quickly you’ll hear a YES.
                </p>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    <div class="commercial-panel" ng-click="toggle(1)" >
                        Office Expenses
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[1], 'glyphicon-chevron-right': !open[1]}">
                        </i>
                    </div>
                </uib-accordion-heading>
                <p>
                    <strong>Look up in the cloud for office expenses</strong>
                </p>
                <p>
                    You can save lot of time and resources by adopting cloud computing. Employees can work remotely and use online collaboration tools to get the work done. For example, you can use Dropbox to share files, WebEx or Skype to have virtual meetings. Just find the opportunities to mobilise your work using cloud apps. This will definitely result in cost saving in longer run.
                </p>
                <p>
                    <strong>Go green and save the green stuff</strong>
                </p>
                <p>
                    Going green is not only a great PR move, it’s also a smart financial move, such as keeping equipment on a power strip and turning it off when not in use, or replacing your existing printer with one that prints on both sides of the paper, thus reducing paper waste and cost. Since the object of many environmentally friendly changes is to save energy, if you can reduce energy use you will also be reducing your costs.
                </p>
                <p>
                    <strong>Have virtual meetings</strong>
                </p>
                <p>
                    Next time you have a meeting with your client in another city, request them for a Skype call. Using latest technology, you can save a lot on travelling expenses. Push for a Skype call even when the meetings are within the same city. Besides the first meeting which is important and should be done face-to-face but all follow-up meetings can be done virtually.
                </p>
                <p>
                    <strong>Use open source software</strong>
                </p>
                <p>
                    You can save substantial amount of money if you start using open source software. When ordering new Laptops for the team, you can go for the ones without Windows OS. Those are cheaper and can run open source OS such as Ubuntu. Similarly, you can get open source office suit instead of Microsoft Office and save on licensing costs.
                </p>
                <p>
                    <strong>Reduce number of landline phones</strong>
                </p>
                <p>
                    If you are one of those businesses that still using landlines, its time to think again. There was a time when landline phone was a necessity but it’s no longer the case. Mobile phones are cheaper and offer much flexibility. You can use cloud telephony system to route calls between mobile numbers.
                </p>
                <p>
                    <strong>Buy used equipment</strong>
                </p>
                <p>
                    Save between 50-70 percent by buying used computer equipment, copiers and office furniture from the classified sites such as OLX or Quikr. You can negotiate directly with the seller and get a good deal. If you are not feeling techy, turn up to local newspaper classifieds which are other good sources of used equipment.
                </p>
            </div>
            <div uib-accordion-group class="panel-default">
                <uib-accordion-heading>
                    <div class="commercial-panel" ng-click="toggle(2)" >
                        Be a Smart Enterpreneur
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[2], 'glyphicon-chevron-right': !open[2]}">
                        </i>
                    </div>
                </uib-accordion-heading>
                <p>
                    <strong>Pool Purchasing Power</strong>
                </p>

                <p>Nowaday, home buyers come together and manage to get a good deal from their suppliers. Find other small-business owners and collaborate with them to save money on supplies and other goods. You also can even save money while importing goods from another country by partnering with other vendors who jointly allow to import stuff from overseas in one container. This helps all to share the cost of container which is normally accessible to only big businesses that have large order.

                </p>
                <p>
                    <strong>Always Ask for a Discount</strong>
                </p>

                <p>
                    They may not advertise it, but many top retailers will discount their items for small business owners. You just have to take the initiative to ask. Sometimes, you can even get discounts when you pay within the credit period. All you have to do is to ask.
                </p>
                <p>
                    <strong>Don’t Buy in Bulk</strong>
                </p>

                <p>
                    Often, small business owners buy things like office supplies in bulk because it seems less expensive to buy that way. For instance, if you buy a 100 sets of printing paper, your cost per set will be less than if you bought them one at a time. But you have to ask yourself: How quickly you will consume 100 sets of printing paper? As a small business owner, you could greatly reduce their expenses by buying only what you need today – not what you think you’ll need tomorrow. Focus should be to improve the cashflow.
                </p>
                <p>
                    <strong>Track inventory closely</strong>
                </p>

                <p>
                    If you run an inventory-based business, carrying less inventory means having less money tied up and more money in the bank. Begin monitoring inventory more closely to make sure you aren’t spending more than is really needed. If you manage inventory manually, consider adopting an inventory management software to keep better track.
                </p>
                <p>
                    <strong>Be very aggressive with past-due accounts</strong>
                </p>

                <p>
                    Make a list of customers whose payment has past the due date. Start calling them and follow up for the payment. Get aggressive and express your urgency with them. If you do it right, some customers might release the payment on the same day.
                </p>
                <p>
                    <strong>Sell online</strong>
                </p>

                <p>
                    By now, you probably know that online commerce is a big deal. Nowadays, it’s easy to setup seller accounts on eCommerce market places such as Flipkart, Snapdeal or eBay. Sites like Amazon even offer their warehouse to store your inventory. This can save huge costs in marketing and inventory maintenance. In fact, this is something which you can let you operate 
                </p>
                <p>
                    <strong>Be reluctant to give credit</strong>
                </p>

                <p>
                    If you do extend credit, thoroughly check the client’s credit background and offer credit only if they have a good repayment history. Most of the times we take emotional decisions but for less-than-creditworthy accounts it’s advised to consider the following actions: Collect cash in advance; send partial shipments; request letters of credit, personal guarantees and a pledge of assets. Apart from all this, just try to be reluctant and delay your decisions to offer credit.
                </p>
                <p>
                    <strong>Seek at least three bids on everything</strong>
                </p>

                <p>
                    Even mundane purchases merit shopping around. If you quote a competitor’s lower price, a supplier or vendor will often match that price to win your business. If you use services like JustDial, you will get calls from at least 3-4 vendors who will be ready to negotiate with you.
                </p>
            </div>
            <div uib-accordion-group class="panel-default">
                
                <uib-accordion-heading>
                    <div class="commercial-panel" ng-click="toggle(4)" >
                        Finance
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[4], 'glyphicon-chevron-right': !open[4]}">
                        </i>
                    </div>
                </uib-accordion-heading>
                <p><strong>Restructure your loans</strong></p>
                <p>    
                    If you have taken a loan and its instalments are causing a burden on your monthly cash flow, just talk to your bank. Most banks can give you an option to either pause it for a specific period or help you restructure to increase the tenure and reduce the instalment. Alternately, you can talk to other banks for lower interest rates and improve your cashflow.
                </p>
                <p><strong>Treasury management</strong></p>
                <p>
                    This may sound a big word for early stage businesses, but it’s one of effective way of generating money on ideal funds. Current Account with bank does not give any interest on ideal funds in account. One can invest via Mutual Funds in debt funds for duration as low as 2 days and look forward for tentative interest of ~8% p.a. There is online investment facility now a days with zero paper work. Any small amount generated can take care of your phone bill or electricity bill! Money saved is money earned!
                </p>
                <p><strong>Stay on top of your taxes</strong></p>
                <p>
                    Close to year-end, schedule a tax-planning meeting with your accountant to shift income and expenses. For example, shift receivable income into the next year to decrease this year’s taxes. Your accountant will be the best person to advise you. Again, using a good accounting software from the start of your business can save you lot of time & energy during year-end tax preparation.
                </p>
            </div>   
            <div uib-accordion-group class="panel-default">  
                
                <uib-accordion-heading>
                    <div class="commercial-panel" ng-click="toggle(5)" >
                        Employees
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[5], 'glyphicon-chevron-right': !open[5]}">
                        </i>
                    </div>
                </uib-accordion-heading>
                    <p>
                        <strong>Hire smart, inexperienced people</strong>
                    </p>
                    <p>
                        Experience is important but it isn’t everything, and it comes at a cost. More and more technology companies now hire fresh college grads and then train them for a month or two. It turns out to be very cost effective than hiring an experienced person. For critical work scenarios, you have no option but to go for experienced people but in most cases, strategy of training to fresher works.
                    </p>
                    <p>
                        You will not only gain a monetary advantage by providing an entry-level salary but you will also benefit by having employees who are enthusiastic, up-to-date on the latest technology, nimble and eager to learn.
                    </p>
                
                    <p>
                        <strong>Get interns</strong>
                    </p>
                    <p>
                        There are lot of non-critical activities that can be delegated to interns. They are enthusiastic and full with energy. Sometimes interns are ready to work for free and if they are really adding value, you can hire them as a permanent staff. Interns are good for activities like social media promotion, back office administration, market survey or other short term tasks.
                    </p>
                    <p>
                        <strong>Commission your sales force</strong>
                    </p>
                    <p>
                        Overhead, salaries, incentives, training costs, fringe benefits and expenses add up when you’re hiring your own sales representatives. Contracting independent manufacturers’ sales reps, paid on commission only, is less expensive-and often equally effective. If you prefer to have in–house sales team, try to structure their salaries in such a way that larger percentage is allocated to commission and fixed component is on a lower side.
                    </p>
                
                    <p>
                        <strong>Outsource Non-Critical Tasks</strong>
                    </p>
                    <p>
                       There are lot of tasks that can be outsourced these days. You can hire freelancers to design company logo, do social media promotion, maintain accounts, and generate sales leads and much more.
                    </p>
                    <p>
                        <strong>Cut extraneous employee expenses, not employees</strong>
                    </p>
                    <p>
                       This is self-explanatory. When we noticed larger phone bills, we started putting the cap on it. As a result, employees started using the phones more responsibly. Similarly, put a cap on travel expenses.
                    </p>
                    <p>
                        <strong>Reward your profit-makers</strong>
                    </p>
                    <p>
                       It may sound a little contradicting, but spending to save does make sense in some cases. We would suggest to take the proactive approach of rewarding profitable behaviour from both your employees and your customers. What does that look like? You can start by making small gestures, like an occasional free lunch or a treat, to boost employee morale and keep the work environment positive.
                    </p>
                    <p>
                        It could also mean offering bonuses to employees who meet certain cost saving targets set for that year, and offering deeper discounts or value-added packages to your most loyal customers. If you’re spending a little money on the people who do the best work for you, or purchase the most product from you, you’re simply investing in a relationship that will ultimately bring more profit to your business.

                    </p>
                    
            </div>
            
        </uib-accordion>
        </div>
        

    </div>
</div>