<div class="data prevent-footer-cover" layout-xs="column" layout-sm="column" layout-md="column" layout-gt-md="row">
    <div class="img-top-panel" layout="row" flex-xs="100" flex-sm="100" flex-md="100" flex-gt-md="25" layout-align="center start">
        <img ng-src="images/{{leftPanelImage}}" class="img-responsive img-stretch" hide-gt-md>
    </div>
        
    <div flex-xs="100" flex-sm="100" flex-md="100" flex-gt-md="55" id="pad" layout-margin>
        
        <div ng-controller="AccordionController">
            <h5><strong>MONEY RAISING</strong></h5>
            <p>According to a recent  study, over 94% of new businesses fail during first year of operation. Lack of money  management turns to be one of the common reasons. The long painstaking yet  exciting journey from the idea to revenue generating business needs a fuel  named MONEY. That’s why, at almost every stage of the business, entrepreneurs  find themselves asking – How do I finance my start-up?</p>
            <p>If you want to grow  really fast, you probably need outside sources of capital. Now the big question  is – How do you prepare your business for fund raising? It’s better to start  from the beginning with good corporate governance as it might get hard to go  back later and try to exert fiscal discipline. To address these concerns, few  the prominent sources of finance available that helps to raise capital for the  businesses.</p>
        
            <uib-accordion close-others="oneAtATime">
              <div uib-accordion-group class="panel-default">
                    
                    <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(0)" >
                            Bootstrapping (Start-Up Business)
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[0], 'glyphicon-chevron-right': !open[0]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    
                    <p>
                        <strong>“If you can’t make it good, at least make it look good!”</strong>
                    </p>
                    <p>    
                        Self-funding, is an effective way of start-up financing, especially when you are just starting your business. First-time entrepreneurs often have trouble getting funding without first showing some traction and a plan for potential success. You can invest from your own savings or can get your family and friends to contribute. This will be easy to raise due to less formalities/compliances, plus less costs of raising. In most situations, family and friends are flexible with the interest rate.
                    </p>
                    <p>
                        Self-funding should be considered as a first funding option because of its advantages. When you have your own money, you are tied to business. On a later stage, investors consider this as a good point. But this is suitable only if the initial requirement is small. 

                    </p>
                </div>
                <div uib-accordion-group class="panel-default">
                    
                    <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(1)" >
                            Crowdfunding (Start-Up Business)
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[1], 'glyphicon-chevron-right': !open[1]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        <strong>“Surround yourself with people who believe in your dreams!”</strong>
                    </p>
                    <p>This is how  crowdfunding works – An entrepreneur will put up a detailed description of his  business on a crowdfunding platforms (Internet/ website). He will mention the  goals of his business, plans for making a profit, how much funding he needs and  for what reasons, etc. and then consumers can read about the business and give  money if they like the idea. Those giving money will make online pledges with  the promise of pre-buying the product or giving a donation. Anyone can  contribute money toward helping a business that they really believe in.</p>
                    <p>The best thing about  crowd funding is that it can also generate interest and hence helps in  marketing the product alongside financing. It is also a boon if you are not sue  if there will be any demand for the product you are working on. It also might  attract venture-capital investment down the line if a company has a  particularly successful campaign.</p>
                </div>
                <div uib-accordion-group class="panel-default">
                    
                    <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(2)" >
                            Angel Investment (Start-Up Business)
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[2], 'glyphicon-chevron-right': !open[2]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        <strong>“For good people, good ideas & good concepts the money is there!”</strong>
                    </p>
                    
                    <p>Angel investors are  individuals with surplus cash and a keen interest to invest in upcoming  start-ups. They also work in groups or networks to collectively screen the proposals before  investing. They can also offer mentoring or advice alongside capital.</p>
                    <p>Angel investors have helped to start up many prominent  companies, including Google, Yahoo and Alibaba. This alternative form of  investing generally occurs in a company’s early stages of growth, with  investors expecting up to 30% equity. They prefer to take more risks in  investment for higher returns.</p>
</div>
                <div uib-accordion-group class="panel-default">   
                    
                    <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(3)" >
                            Incubators & Accelerators (Start-Up Business)
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[3], 'glyphicon-chevron-right': !open[3]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p><strong>“Always deliver more than expected!”</strong></p>
                    <p>Early stage  businesses can consider Incubator and Accelerator programs as a funding option.  Found in almost every major city, these programs assist hundreds of start-up  businesses every year.</p>
                    <p>Though used  interchangeably, there are few fundamental differences between the two terms.  Incubators are like a parent to a child, who nurture the business providing  shelter tools and training and network to a business. Accelerators so more or  less the same thing, but an incubator helps/assists/nurtures a business to  walk, while accelerator helps to run/take a giant leap.</p>
                    <p>These programs normally run for 4-8 months and require  time commitment from the business owners. You will also be able to make good  connections with mentors, investors and other fellow start-ups using this  platform.</p>
</div>
                <div uib-accordion-group class="panel-default">     
                    
                  <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(5)" >
                            Venture Capital (VCs)
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[5], 'glyphicon-chevron-right': !open[5]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                        <p>
                            <strong>“Capital isn’t scarce; vision is.”</strong>
                        </p>
                        <p>Venture capitals are  professionally managed funds who invest in companies that have huge potential.  They usually invest in a business against equity and exit when there is an IPO  or an acquisition. VCs provide expertise, mentorship and acts as a litmus test  of where the organisation is going, evaluating the business from the  sustainability and scalability point of view.</p>
                        <p>A venture capital  investment may be appropriate for small businesses that are beyond the start-up  phase and already generating revenues. Fast-growth companies like Flipkart,  Uber, etc with an exit strategy already in place can gain up to ten millions of dollars  that can be used to invest, network and grow their company quickly.
                  </p>
                        <p>However, there are a  few downsides to Venture Capitalists as a funding option. VCs have a short  leash when it comes to company loyalty and often look to recover their  investment within a three- to five-year time window. If you have a product that  is taking longer than that to get to market, then venture-capital investors may  not be very interested in you.</p>
                </div>
                <div uib-accordion-group class="panel-default"> 
                    
                    <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(6)" >
                            Winning Contests
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[6], 'glyphicon-chevron-right': !open[6]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p>
                        <strong>“The only way to win is to learn faster than anyone else!”</strong>
                    </p>
                    <p>An increase in the  number of contests has tremendously helped to maximize the opportunities for  fund raising. It encourages entrepreneurs with business ideas to set up their  own businesses. In such competitions, you either have to build a product or  prepare a business plan. Winning these competitions can also get you some media  coverage.</p>
                    <p>You need to make your  project stand out in order to improve your success in these contests. You can  either present your idea in person or pitch it through a business plan. It  should be comprehensive enough to convince anyone that your idea is worth  investing in.</p>
                </div>
                <div uib-accordion-group class="panel-default">                    
                    <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(7)" >
                            Bank Funding
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[7], 'glyphicon-chevron-right': !open[7]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p><strong>“Act confident even when you are not!”</strong></p>   
                    <p>Normally, banks is the first place that entrepreneurs  go when thinking about funding. The bank provides two kinds of financing for  businesses. One is working capital loan, and other is funding. Working Capital  loan is the loan required to run one complete cycle of revenue generating  operations, and the limit is usually decided by hypothecating stocks and  debtors. Funding from bank would involve the usual process of sharing the  business plan and the valuation details, along with the project report, based  on which the loan is sanctioned.</p>
</div>
                <div uib-accordion-group class="panel-default">
                    
                    <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(8)" >
                            Microfinance or NBFCs
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[8], 'glyphicon-chevron-right': !open[8]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p><strong>“Don’t worry about failure, you only have to be right once!”</strong></p>    
                    <p>What do you do when you can’t qualify for a bank loan?  There is still an option. Microfinance is basically access of financial  services to those who would not have access to conventional banking services.  It is increasingly becoming popular for those whose requirements are limited  and credit ratings not favoured by bank.</p>
<p>Similarly, NBFCs are  Non-Banking Financial Corporations are corporations that provide Banking  services without meeting legal requirement/definition of a bank.</p>
                </div>
                <div uib-accordion-group class="panel-default">                    
                    <uib-accordion-heading>
                        <div class="commercial-panel" ng-click="toggle(9)" >
                            Other Quick Ways
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open[9], 'glyphicon-chevron-right': !open[9]}">
                            </i>
                        </div>
                    </uib-accordion-heading>
                    <p><strong>“Micromanage the process, not the people!”</strong></p> 
                    <p>
                       There are few more ways to raise money for your business. However, these might not work for everyone. Still, check them out if you need quick funds.
                    </p>
                    <p>
                        <strong>Product Pre-sale:</strong> Selling your products before they launch is an often-overlooked and highly effective way to raise the money needed for financing your business. Remember how APPLE & SAMSUNG start pre-orders of their products well ahead of the official launch? Its a great way to improve cash-flow and prepare yourself for the consumer demand.
                    </p>
                    <p>
                        <strong>Selling Assets:</strong> This might sound like a tough step to take but it can help you meet your short term fund requirements. Once you overcome the crisis situation, you can again buy back the assets.
                    </p>
                    <p>
                        <strong>Credit Cards:</strong> Business credit cards are among the most readily available ways to finance a start-up and can be a quick way to get instant money. If you are a new business and don’t have a tons of expenses, you can use a credit card and keep paying the minimum payment. However, keep in mind that the interest rates and costs on the cards can build very quickly, and carrying that debt can be detrimental to a business owner’s credit. 
                    </p>

                </div>
            </uib-accordion>
        </div>
        

    </div>
</div>