.com-chair,.com-cube{
    background-color: rgb(215, 250, 200);
}
.com-chair img {
    float: right;
}
.commercial-panel{
    background: transparent !important;
    outline: none;
    text-align: left !important;
    font-weight: bold;
}
.commercial-panel:hover{
    color: forestgreen;
}
.combackground{
    background-color: rgb(215, 250, 200);
}