.com-chair{
    background-color: rgb(215, 250, 200);
}
.com-chair img {
    float: right;
}
.commercial-panel{
    background: transparent !important;
    outline: none;
    text-align: left !important;
}
.commercial-panel:hover{
    color: forestgreen;
}