.ess-cube img {
    width: 100%;
    height: 100%;
}

.ess-leg {
    background-color: rgb(250, 230, 226);
}

.ess-leg img {
    float: right;
}

.essential-panel{
    background: transparent !important;
    outline: none;
    text-align: left !important;
}
.essential-panel:hover{
    color: indianred;
}
.essbackground{
    background-color: rgb(250, 230, 226) !important;
}