body {
    padding-top: 51px;
}
.logo{
    height: 50px;
}
.cube-img{
    width: 100%;
    height: 100%;
}
.hexagon{
    margin-left: 0; 
    height:80px;
}
.anchor{
    color: black;
}
.anchor:hover{
    color: cadetblue;
}
.anchor:active{
    color: dimgrey;
}
.anchor:visited{
    color: black;
}
.sticky-div {
    position: fixed;
    width: 100%;
    height: 100vh;
}
.scrollable-div {
    background: transparent;
    position: absolute;   
}
h1,p,h2,h3,h4,h5,h6{
    color: rgb(70,10,30);
}
.data{
    text-align: justify;
}
.panel-default{
    background: transparent;
    text-align: center !important;
}
.panel-default p{
    text-align: justify !important;
}
.transparent-panel{
    background: transparent !important;
    outline: none;
    text-align: left !important;
}
.transparent-panel:hover{
    color: cadetblue;
    
}
.show-hand{
     cursor: pointer; cursor: hand;
}
.contact-right-panel{
    background-color: rgb(211,211,211);
}
.data a{
    color:black;
}
.form{
    border: solid;
    border-color: gainsboro;
}
#toaster {
  position: fixed;
  top: 200px;
  height: 48px;
  left: 0;
  width: 100%;
  z-index: 10000;
}
#load{
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    z-index: 2000;
}
.footer {
    width: 100%;
    height: 5px;
    position: sticky;
    bottom: 0;
}
.footer .container-fluid p{
    text-align: center;
}
.footer .container-fluid p a{
    color: black;
}
.img-stretch{
    width: 100%;
}
.prevent-footer-cover{
    min-height: 100%;
    margin-bottom: 50px;
    clear: both;
}
#bottom-div{
    height:50px
}
#top-div{
    height:55px
}
#middle-div{
    display:block;
    overflow:auto;
    height:350px;
}