html{
    height: 100%;
}
body {
    padding-top: 51px;
    min-height: 100%;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
/*.navbar,.navbar-header{
    height: 30px;
    min-height: inherit;
}

.navbar .container-fluid{
    height: 30px;
    min-height: inherit;
}
.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar-brand {
    padding:5px 0 0 0;
}
.navbar-toggle{
    padding: 0;
}
.navbar-collapse{
    background-color: whitesmoke;
}*/
.cube-img{
    width: 100%;
    height: 100%;
}
.hexagon{
    margin-left: 0; 
    height:80px;
}
.anchor{
    color: black;
}
.anchor:hover{
    color: cadetblue;
}
.anchor:active{
    color: dimgrey;
}
.anchor:visited{
    color: black;
}
.sticky-div {
    position: fixed;
    width: 100%;
    height: 100vh;
}
.scrollable-div {
    background: transparent;
    position: absolute; 
    min-height: 92%;
}
h1,p,h2,h3,h4,h5,h6{
    color: rgb(70,10,30);
}
.data{
    text-align: justify;
}
.panel-default{
    background: transparent !important;
    text-align: center !important;
}
.panel-default p{
    text-align: justify !important;
}
.transparent-panel{
    background: transparent !important;
    outline: none;
    text-align: left !important;
}
.transparent-panel:hover{
    color: cadetblue;
    
}
.show-hand{
     cursor: pointer; cursor: hand;
}
.contact-right-panel,.contact-left-panel,.contact-background{
    background-color: rgb(211,211,211);
}
.data a{
    color:black;
}
.form{
    /*border: solid;
    border-color: gainsboro;*/
}
#toaster {
  position: fixed;
  top: 200px;
  height: 48px;
  left: 0;
  width: 100%;
  z-index: 10000;
}
#load{
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    z-index: 2000;
}
.img-stretch{
    width: 100%;
}
.prevent-footer-cover{
    min-height: 100%;
    margin-bottom: 50px;
    clear: both;
}
#bottom-div{
    height:50px
}
#top-div{
    height:55px
}
#middle-div{
    display:block;
    overflow:auto;
    height:350px;
}
.page-text{
    padding-top: 50px;
}
/*.img-top-panel{
    padding-top: 50px;
}*/
.footer {
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: darkgray;
    position: absolute; 
    overflow:auto;
    display: table; 
}
.footer p{
    vertical-align: middle;
    display: table-cell;   
    text-align: center;
    color: azure;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.footer p a{
    color: azure;
}
.content{
    min-height: 100%;
}
.wall{
    position:absolute;
    width:100%;
    background-color:white
}
.submit{
    margin-left:35px;
    width:100px;
}
.disabled{
    cursor: default;
    opacity: 0.5;
    color: red !importatnt;
}