<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<md-button class="md-icon-button md-primary navbar-toggle" aria-label="Settings" style="border:none" type="button" ng-click="isNavCollapsed = !isNavCollapsed">
                <md-icon ><i class="material-icons">menu</i></md-icon>
            </md-button>-->
            <button style="border:none" type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed"> 
                <span class="sr-only">Toggle navigation</span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span> 
            </button> 
            <a class="navbar-brand" ui-sref="home">
                <strong style="color:rgb(230,33,41)">Ess</strong><strong style="color:rgb(0,162,233)">Com</strong>
            </a> 
        </div>
        
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
            <ul class="nav navbar-nav nav-list" style="padding-left:10%">
                <li class="dropdown" uib-dropdown>
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
                        Essentials
                        <b class="caret"></b>
                    </a>    
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a ui-sref="essential.home" ng-click="resolveCollapse()">Advertising & Marketing</a></li>
                        <li><a ui-sref="essential.about" ng-click="resolveCollapse()">About Us</a></li>
                        <li><a ui-sref="essential.work" ng-click="resolveCollapse()">Work Process</a></li>
                        <li><a ui-sref="essential.services" ng-click="resolveCollapse()">Services</a></li>
                    </ul>
                    
                </li>
                
                <li class="dropdown" uib-dropdown>
                    <a role="button" class="dropdown-toggle" uib-dropdown-toggle>
                        Commercials 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                        <li><a ui-sref="commercial.home" ng-click="resolveCollapse()">Fund Raising</a></li>
                        <li><a ui-sref="commercial.about" ng-click="resolveCollapse()">About Us</a></li>
                        <li><a ui-sref="commercial.fund" ng-click="resolveCollapse()">Fund Raising Process</a></li>
                    </ul>
                </li>
                <li><a ui-sref="contact" ng-click="resolveCollapse()">Contact Us</a></li>
                <li><a ng-click="resolveCollapse()">Downloads</a></li>
            </ul>
        </div>
        
    </div>

</nav>